body {
  margin: 0;
  padding: 100px 50px;
  font-family: sans-serif;
}
.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  font-weight: bold;
}
.main-article {
  text-align: left;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.item {
  display: flex;
  flex-direction: row;
  width: 100%;  
}
.item > div {
  border: 1px solid #000000;
  border-collapse: collapse;
  padding: 5px 10px;
}
.item > div:first-of-type {
  width: 30%;
  text-align: right;
}
.item-info {
  width: 70%;
}
ul {
  margin: 0;
}
.skills {
  list-style-type: none;
  padding: 0;
}
